@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

.galleryItem {
  margin: 7px; /* ajuste conforme necessário */
  cursor: pointer;
  text-decoration: none !important;
}

.imgResponsive {
  margin-bottom: 10px !important;
  border-radius: 20px !important;
}
.subtitleMidia {
  color: var(--text-color-white) !important;
  font-size: 20px !important;
  margin-left: 15px !important;
  display: flex !important;
  align-self: flex-start !important;
  max-width: 100px;
}

/* .galleryItem {
  margin: 7px;
  cursor: pointer;
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
} */