@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-primary-color: #3c3c3c;
  --bg-secondary-color: #626262;
  --bg-ternary-color: #ff781d;

  --text-color-white: white;
  --text-color-subtitle: #aaaaaa;

  --color-line: white;
}

body {
  background-color: var(--bg-primary-color) !important;
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
}
hr {
  border-top: 5px solid var(--bg-ternary-color) !important;
  opacity: 1 !important;
}

.title {
  color: var(--text-color-white) !important;
  text-transform: uppercase !important;
}
.subtitle {
  color: var(--text-color-white) !important;
  text-transform: uppercase !important;
  font-size: 20px !important;
  margin-left: 15px !important;
  display: flex !important;
  align-self: flex-start !important;
}

.bg-dark {
  background-color: var(--bg-primary-color) !important;
}
.bg-dark-custom {
  background-color: var(--bg-primary-color) !important;
}
input.form-control.bg-dark-custom-input {
  background-color: var(--bg-primary-color) !important;
  border-right: 0 !important;
}

.input-group-text {
  background-color: var(--bg-secondary-color) !important;
  border-color: var(--bg-secondary-color) !important;
  border-radius: 0 20px 20px 0 !important;
  width: 20% !important;
  :hover {
    cursor: pointer !important;
  }
}

.form-control {
  color: var(--text-color-white) !important;
  height: 55px !important;
  border-radius: 20px 0 0 20px !important;
  border: var(--bg-secondary-color) 4px solid !important;
}

.form-control::-webkit-input-placeholder {
  color: var(--bg-secondary-color) !important;
  font-size: larger !important;
}

.form-control:-moz-placeholder {
  color: var(--bg-secondary-color) !important;
  font-size: larger !important;
}

.form-control::-moz-placeholder {
  color: var(--bg-secondary-color) !important;
  font-size: larger !important;
}

.form-control:-ms-input-placeholder {
  color: var(--bg-secondary-color) !important;
  font-size: larger !important;
}
.table-dark {
  background-color: var(--bg-secondary-color) !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: var(--bg-primary-color) !important;
}

.sidebar__background {
  background-color: var(--bg-secondary-color) !important;
}

.title-sidebar {
  font-size: 20px !important;
  color: var(--text-color-white) !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  -webkit-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
}

.subtitle-sidebar {
  font-size: 16px;
  color: var(--text-color-subtitle) !important;
  text-transform: uppercase !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  -webkit-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
}

.force-scrool {
  overflow: auto !important;
  width: 97% !important;
}

textarea {
  background-color: var(--bg-primary-color) !important;
  border-radius: 15px !important;
  padding: 10px !important;
  color: var(--text-color-white) !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-ternary-color) !important;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-ternary-color) !important;
}

.athlete-detail-card {
  border-radius: 0 10px 10px 10px !important;
  border-top: 1px solid var(--bg-secondary-color);
  /* height: 900px !important; */
}

.nav-link {
  background: #474747 !important;
  border-radius: 10px 10px 0 0 !important;
  color: var(--text-color-white) !important;
}
.nav-link:hover {
  border: var(--bg-secondary-color) 1px solid !important;
  background: var(--bg-secondary-color) !important;
}

a.nav-link.active {
  background-color: var(--bg-secondary-color) !important;
  border: none !important;
  color: var(--text-color-white) !important;
  border-radius: 10px 10px 0 0 !important;
}

.nav.nav-tabs {
  border: none !important;
}
.btn-modal-color {
  background-color: var(--bg-primary-color) !important;
  color: var(--text-color-white) !important;
  text-transform: uppercase !important;
  border-radius: 10px !important;
}
.btn-modal-color:hover {
  background: var(--bg-ternary-color) !important;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bg-ternary-color) !important;
  --bs-tooltip-color: var(--text-color-white) !important;
}
th.table-dark.text-center {
  background-color: var(--bg-ternary-color) !important;
}
.table-color-custom {
  background-color: var(--bg-ternary-color) !important;
}
.btn-success {
  background-color: var(--bg-ternary-color) !important;
  border: none !important;
}
.btn-success:hover {
  background-color: #c95c14 !important;
  border: none !important;
}

.table-body {
  width: 145px !important;
}
.table-header {
  width: 350px !important;
}
.input-create {
  border-radius: 20px !important;
}
.input-date {
  color-scheme: dark !important;
}

.form-select {
  border-radius: 20px !important;
  background-color: var(--bg-primary-color) !important;
  color: white;
  border: 4.7px solid var(--bg-secondary-color) !important;
  height: 55px !important;
}

select:invalid {
  color: gray !important;
}

select option[disabled] {
  color: #999 !important; /* Cor do texto de placeholder */
}

.nav-bar-custom {
  display: flex;
  justify-content: center;
  gap: 80px;

}
@media print {
  .hideOnScreen {
    display: block !important;
  }
}
.hideOnScreen {
  transform: translateX(200%) !important;
  margin: 0 auto !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#pdf, .pdf {
  display: none;  
  /* visibility: hidden; */
  /* width: 100%; */
}

h3 {
  color: var(--text-color-white) !important;
  text-transform: uppercase !important;
  font-size: 18px !important;
  margin-left: 15px !important;
  display: flex !important;
  align-self: flex-start !important;
}

/* #pdf, .pdf {
  display: none;
}

h3 {
  color: var(--text-color-white) !important;
  text-transform: uppercase !important;
  font-size: 18px !important;
  margin-left: 15px !important;
  display: flex !important;
  align-self: flex-start !important;
}

#pdf, .pdf {
  display: none;
}
} */

  .clear-input {
    color: white;
    border: 4px solid var(--bg-secondary-color) !important;
    border-left: 0 !important;
    background-color: var(--bg-primary-color) !important;
    width: 10% !important;
    height: 55px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #inputSearch{
    height: 55px !important;
  }
  img.rounded.mt-3.avatar{
    display: none;
    display: none;
  }
  .nav-custom{
    cursor: pointer;
  }
  .nav-custom .icon-menu-content:hover svg,
  .nav-custom .icon-menu-content:hover h2 {
      color: var(--bg-ternary-color) !important;
  }
  .container-menu-nav{
    visibility: hidden;
  }
  .menu-item:hover {
    background-color: var(--bg-secondary-color);
  }
  .menu-item-text:hover{
    color: var(--bg-ternary-color) !important;
  }
  /* .menu {
    border-bottom: 1px solid var(--bg-secondary-color);
  } */
  .container-avatar{
    cursor: pointer;
  }
  .container-avatar {
    position: relative;
  }
  .container-avatar .edit-icon {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    display: block;
    color: white;
    background-color: rgba(66, 66, 66, 0.6);
    border-radius: 50%;
    padding: 10px;
  }
  .container-avatar:hover .edit-icon {
    background-color: rgba(182, 182, 182, 0.6);
  }
  .container-avatar .edit-icon svg {
    width: 24px;
    height: 24px;
  }

.MuiBox-root.css-qtcm63{
  padding: 20px !important;  
}

.danger-date {
  color: red !important;
}
.margin-edit-athlete {
  margin-top: 159px !important;
}

  @media (max-width: 1000px) {
    .col-lg-2 {
      display: none;
    }
    h1.title-sidebar{
      font-size: 30px !important;
    }
    .subtitle-sidebar{
      font-size: 26px;
    }
    img.rounded.mt-3.avatar {
      margin-left: 10px;
      width: 60px !important;
      height: auto !important;
      margin-bottom: 50px;
      display: flex;
      position: fixed;
      z-index: 10;
      bottom: -30px;
      left: 10px;
    }
    button.btn.btn-success.align-self-end {
      margin-bottom: 10px !important;
      margin-top: 10px !important;
    }
    .d-flex.justify-content-between.align-items-center.w-100.p-2{
      margin-left: -45px;
    }
    .observacao-performace{
      margin-left: 5px !important;
    }
    .nav-bar-custom{
      display:none
    }
    .container-menu-nav{
      visibility: visible;
    }
    .athlete-detail-card {
      margin-left: 23px;
    }
    .nav.nav-tabs{
      margin-left: 23px;
    }
    .container-avatar .edit-icon {
      top: 90%;
      left: 90%;
      padding: 30px;
    }
    .container-avatar .edit-icon svg {
      width: 50px;
      height: 50px;
    }
  }
  @media (max-width: 770px) {
    .margin-edit-athlete {
      margin-top: 0 !important;
    }
    .container-avatar .edit-icon {
      top: 85%;
      left: 85%;
      padding: 30px;
    }
  }

  @media (max-width: 700px) {
    h1.title-sidebar{
      font-size: 26px !important;
    }
    .subtitle-sidebar{
      font-size: 20px;
    }
  }
  
  @media (max-width: 600px) {
    h1.title-sidebar{
      font-size: 20px !important;
    }
    .subtitle-sidebar{
      font-size: 15px;
    }
    .MuiBox-root.css-qtcm63{
      padding: 12px !important;  
    }
  }
  @media (max-width: 400px) {
    .container-avatar .edit-icon {
      top: 85%;
      left: 85%;
      padding: 15px;
    }
    .container-avatar .edit-icon svg {
      width: 24px;
      height: 24px;
    }
  }