@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --bg-primary-color: #3c3c3c;
  --bg-secondary-color: #626262;
  
  --text-color-white: white;

  --color-line: white;
}

body {
  background-color: var(--bg-primary-color);
  font-family: "Roboto", sans-serif;
}
hr {
  border-top: 5px solid var(--color-line);
  opacity: 1;
}

.title {
  color: var(--text-color-white);
  text-transform: uppercase;
}

.bg-dark {
  background-color: var(--bg-primary-color) !important;
}

.input-group-text{
  background-color: var(--bg-secondary-color);
  border-color: var(--bg-secondary-color);
  border-radius: 0 20px 20px 0;
  width: 20% !important;
  :hover{
      cursor: pointer
  }
}

.form-control {
  color: var(--text-color-white) !important;
  height: 55px;
  border-radius: 20px 0 0 20px;
  border: var(--bg-secondary-color) 4px solid;
}

.form-control::-webkit-input-placeholder {
  color: var(--bg-secondary-color);
  font-size: larger;
}

.form-control:-moz-placeholder {
  color: var(--bg-secondary-color);
  font-size: larger;
}

.form-control::-moz-placeholder {
  color: var(--bg-secondary-color);
  font-size: larger;
}

.form-control:-ms-input-placeholder {  
  color: var(--bg-secondary-color);
  font-size: larger;
}
.table-dark {
  background-color: var(--bg-secondary-color) !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
  --bs-table-bg-type: var(--bg-primary-color) !important;

}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon.css-n8417t-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: var(--text-color-white);
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-circular.Mui-selected.MuiPaginationItem-page.css-ax94ij-MuiButtonBase-root-MuiPaginationItem-root {
  color: var(--text-color-white);
  background-color: var(--bg-secondary-color);
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-circular.MuiPaginationItem-page.css-ax94ij-MuiButtonBase-root-MuiPaginationItem-root{
  color: var(--text-color-white);
}