.cardGlassmorphism {
  background: rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2.5px) !important;
  -webkit-backdrop-filter: blur(2.5px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  max-width: 550px !important;
  padding-top: 70px !important;
  padding-bottom: 70px !important;
  width: 95% !important;
}


.bgSectionImage {
    background-image: url("../../public/images/background-login.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: color !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 99999 !important;
  width: 98% !important;
}