.cardGlassmorphism {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 550px;
  padding-top: 70px;
  padding-bottom: 70px;
}


.bgSectionImage {
    background-image: url("../../public/images/background-login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
}